//forumo index
.box-forum-list{

}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.post-name{
    padding:1% 2%;
    background-color:black;
    box-sizing: border-box;
    .post-name-link{
        color:white;
        text-transform: capitalize;
        letter-spacing:1px;
        font-size:17px;
    }
}
.box-post-container{
    border: 1px solid darkgray;
}
.box-post-left{
    float:left;
    width:65%;
    padding:1% 2%;
    h6{
        color:black;
        text-transform: none;
        letter-spacing:1px;
        font-size:15px;
        font-weight:normal;
    }
    p{
        color:rgb(70, 70, 70);
        text-transform: none;
        letter-spacing:0.5px;
        font-size:13px;
        span{
            color:darkgray; 
        }
    }
}

.box-post-right{
    padding:1% 2%;
    float:right;
    width:25%;
    p{
        color:rgb(70, 70, 70);
        text-transform: none;
        letter-spacing:0.5px;
        font-size:13px;
        span{
            color:darkgray; 
        }
    }
}

//konkretus postas (show)

.post-header{
    height:50px;
    background:#343a40;
    .post-header-date{
        display:inline-block;
        padding:1% 2%;
        width:86%;
        p{
            color:#799a98;
        }
    }
    .post-header-modify{
        display:inline-block;
        width:10%;
        .edit-and-delete{
            display:inline-block;
            .fa-minus-circle{
                margin:0px 1px;
            }
        }
    }
}

.show-post-main{
    width:100%;
    height:300px;
    border: 1px solid rgb(36, 41, 49);
    background:#343a40;
}

.show-post-left{
    float:left;
    width:25%;
    height:295px;
    border-right:1px solid rgb(36, 41, 49);
    h3{
        margin:10px 6%;
        color:white;
        text-transform:none;
        letter-spacing:1.5px;
    }
    .icon-container{
        height: 192px;
        width: 192px;
        margin:10px 6%;
        border:1px solid black;
    }
    img{
        height: 190px;
        width: 190px;
        object-fit:cover;
    }
    p{
        margin:10px 6%;
        color:#799a98;
    }
}

.show-post-right{
    float:right;
    width:72%;
    h2{
        text-transform:none;
        font-size:20px;
        color:white;
        letter-spacing:0.8px;
        padding-top:12px;
    }
    p{
        margin-top:35px;
        padding-bottom:10px;
        color:white;
        font-size:16px;
    }
    .show-post-footer{
        p{
            color:#799a98;
            font-size:13px;
        }
    }
}

//komentaras (perkopinta nuo posts + apacioj pakeitimai)
.container-show-post-com{
    border:1px solid black;
}
.post-header-com{
    height:50px;
    background:#343a40;
    .post-header-date-com{
        display:inline-block;
        padding:1% 2%;
        width:86%;
        p{
            color:#ffffff;
        }
    }
    .post-header-modify-com{
        display:inline-block;
        width:10%;
        .edit-and-delete-com{
            display:inline-block;
        }
        .fa-edit{
            padding:0px 0px;
        }
        .fa-trash-alt{
            margin:0px 1px;
        }
    }
}

.show-post-main-com{
    width:100%;
    height:300px;
    border-top: 1px solid rgb(36, 41, 49);
    background:#ffffff;
}

.show-post-left-com{
    float:left;
    width:25%;
    height:295px;
    border-right:1px solid rgb(36, 41, 49);
    h3{
        margin:10px 6%;
        color:black;
        text-transform:none;
        letter-spacing:1.5px;
    }
    .icon-container-com{
        height: 192px;
        width: 192px;
        margin:10px 6%;
        border:1px solid black;
    }
    img{
        height: 190px;
        width: 190px;
        object-fit:cover;
    }
    p{
        margin:10px 6%;
        color:#799a98;
    }
}

.show-post-right-com{
    float:right;
    width:72%;
    h2{
        text-transform:none;
        font-size:20px;
        color:black;
        letter-spacing:0.8px;
        padding-top:12px;
    }
    p{
        margin-top:35px;
        padding-bottom:10px;
        color:black;
        font-size:16px;
    }
    .show-post-footer-com{
        p{
            color:#799a98;
            font-size:13px;
        }
    }
}

//stilius pritaikytas replies
.container-show-post-rep{
    width:90%;
    margin-left:10% !important;
    border:1.2px solid rgb(207, 207, 207);
}
.post-header-rep{
    height:50px;
    background:#5a5b5c;
    .post-header-date-rep{
        display:inline-block;
        padding:1% 2%;
        width:86%;
        p{
            color:#ffffff;
        }
    }
    .post-header-modify-rep{
        display:inline-block;
        width:10%;
        .edit-and-delete-rep{
            display:inline-block;
        }
        .fa-edit{
            padding:0px 0px;
        }
        .fa-trash-alt{
            margin:0px 1px;
        }
    }
}

.show-post-main-rep{
    width:100%;
    height:300px;
    border-top: 1px solid rgb(36, 41, 49);
    background:#ffffff;
}

.show-post-left-rep{
    float:left;
    width:25%;
    height:295px;
    border-right:1.2px solid rgb(207, 207, 207);
    h3{
        margin:10px 6%;
        color:black;
        text-transform:none;
        letter-spacing:1.5px;
    }
    .icon-container-rep{
        height: 192px;
        width: 192px;
        margin:10px 6%;
        border:1px solid black;
    }
    img{
        object-fit:cover;
        height: 190px;
        width: 190px;
    }
    p{
        margin:10px 6%;
        color:#799a98;
    }
}

.show-post-right-rep{
    float:right;
    width:72%;
    h2{
        text-transform:none;
        font-size:20px;
        color:black;
        letter-spacing:0.8px;
        padding-top:12px;
    }
    p{
        margin-top:35px;
        padding-bottom:10px;
        color:black;
        font-size:16px;
    }
    .show-post-footer-rep{
        p{
            color:#799a98;
            font-size:13px;
        }
    }
}
.pull-right {
    margin-left:30% !important;
}

.atgal{
    border:1px solid black;
}
//profilio skyrius
.card-profile{
    .card-header{
        background:black;
        color:white;
    }
    .card-body{
        h6{
            color:black !important;
            font-size: 15px;
        }
    }
    .img-container{
        width:30%;
        height: 200x;
        width: 200px;
    }
    img{
        width:100% !important;
        border:1px solid black;
        object-fit: cover !important;
    }
    li{
        color:black;
        font-size:15px;
        font-weight:700 !important;
    }
    p{
        font-style: italic;
        color:rgb(69, 22, 177);
    }
    a{
        display:none;
    }
    .list-group-item:hover a{ 
        display:block;
    }
    .img-container:hover a{ 
        display:block;
    }
}
//Streamer boxes
.streamer-box{
    width:80%;
    height:300px;
    border:1px solid black;
    background:black;
    padding-bottom:20px;
    display:flex;
    p{
        font-size:22px;
        color:green;
    }
    a{
        color:white; 
    }
    span{
        font-size:22px;
        color:red;
    }
    a:hover{
        color:rgb(59, 30, 59);
    }
    h6{
        color:white;
        font-size:15px;
        text-transform:none;
        letter-spacing:0.7px;
    }
}
.insider{
    width:50%;
    display:flex;
    flex-direction:column;
    padding:50px 30px;
}

//toggle classes

#updateIcon{
    display:none;
}
.ikonosForma {
    display:block !important;
}

#updateName{
    display:none;
}

.vardoForma {
    display:block !important;
}

#updateEmail{
    display:none;
}

.emailoForma {
    display:block !important;
}

//komentavimo formos rodymas
#newComment{
    display:none;
}
.showCommentForm{
    display:block !important;
}

#newArticle{
    display:none;
}
.newArticleStyle{
    display:block !important;
}

//articles (naujienos)
.article-image{
    width:100%;
    img{
        width:100%;
        object-fit:cover;
    }
}
.article-box{
    p{
        color:black;
        font-size:15px;
    }
}

